* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* share style */
.display-flex {
    display: flex;
}

.gradient-text {
    font-size: 1.5rem;
    font-weight: 600;
    /* color code from pixso and linear tutorial from internet */
    background: linear-gradient(90deg,
            rgba(247, 233, 63, 1) 0%,
            rgba(251, 9, 180, 1) 50%,
            rgba(145, 0, 248, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background: linear-gradient(90deg,
            rgba(247, 233, 63, 1) 0%,
            rgba(251, 9, 180, 1) 50%,
            rgba(145, 0, 248, 1) 100%);
    color: white;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 1000px;
    padding: 12px 16px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-title{
    font-size: 48px;
    font-style: Bold;
    font-weight: 700;
    color: white;
}
.about hr {
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 80px 0;
 
}
 hr{
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);

}


/* main style */

/* navbar related style */
#nav-container {
    background-color: #1A0B2E;
}

.nav-bar {
    max-width: 1200px;
    padding: 16px 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.menu-links ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.714);
    font-weight: 500;

}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.hamburger-menu {
    display: none;
    color: white;
    width: 24px;
    height: 24px;

}

/* banner section style */
.banner-container {
    width: 100%;
    height: 760px;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
   
}
/* ABOUT SECTION STYLE */
#About-container{
    background-color: #1A0B2E;
    padding-top: 50px;
   
}
.about{
    text-align: center;
   
}
.about>p{
     font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.71);
}
.about-title-container{
    justify-content:space-around;
    padding-bottom: 120px;


}
.stat-title{
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    color: #00FF88;

}
.stat-pragraph{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: white;
}















/* responsive for mobile device */
@media screen and (max-width:576px) {

    .menu-links ul,
    .btn {
        display: none;
    }

    .hamburger-menu {
        display: inline;
    }


    .about-title-container{
        flex-wrap: wrap;
    }
}

/* responsive for medium screen */
@media screen and (min-width: 577px) and (max-width: 992px) {}